.card{
  width: 550px;
  margin: 100px 400px;
}
.input{
  width:380px
}
.btn{
  width:100px;
  height:40px;
  margin-top: 7px;

}
ul {
  list-style-type: none; /* Remove default list dots */
  padding-left: 0;
}

ul li {
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
  margin: 10px;
}

.list{
  display: flex;
}
.list .list-i{
  flex: 1;
}
.list .icon{
  padding-left: 5px;
  font-size: 30px;
  cursor: pointer;
}
.tick{
  color: green;
  padding: 2px;
}
.edit{
  color: steelblue;
  padding: 4px;
}
.trash{
  color: orange;
  padding: 3px;

}
#item{
  text-decoration: line-through;
  opacity:0.6;
}